/*

    Couleur bleu #0065FC, bleu clair #DEEBFF et gris #F2F2F2
    max XS size: 600px
    max SM size: 768px
    max MD size: 992px
    max LG size: 1199px
    min XL size: 1200px
*/

/* PARAMETRES GENERAUX */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');
html{
    font-family: "Raleway", serif;
}
body{
    margin: 0;
}
h1{
    font-size: 20px;
    font-weight: 800;
}

/* CLASS UTILES*/
.content{
    margin: 0 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
ul{
    padding: 0;
}
.list-no-style{
    list-style: none;
}
.extends-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}

.logo{
    margin-top: 30px;
}

/* BARRE DE NAVIGATION*/
.navigation{
    float: right;
    display: flex;
}
.navigation-item{
    display: block;
    padding: 38px 15px 0 15px;
    color: #F2F2F2;
    text-decoration: none;
    transition: border 0.2s, color 0.2s;
}
.navigation-item.active, .navigation-item:hover{
    color: #0065FC;
    text-decoration: none;
}
.register{
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    padding: 35px 15px;
    float: right;
    order:3;
}

/* SEARCH */
.search-form{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 15px;
}
.search-icon {
    padding: 12px;
    background-color: #F2F2F2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.search-form input{
    padding: 10px;
    border: #F2F2F2 2px solid;
    font-weight: 800;
}
.search-form input:focus{
    border: black 2px solid;
    outline:none;
}

.search-button{
    background-color: #0065FC;
    padding: 0 15px;
    color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
    transition: background-color 0.2s;
}
.search-button:focus,
.search-button:hover{
    background-color: #DEEBFF;
    border: none;
    outline:none;
}

/* FILTRES */
.filtres{
    display: inline-flex;
}
.filtre-title{
    font-weight: 700;
}
.filtre-item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 20px;
    border: #F2F2F2 2px solid;
    border-radius: 50px;
}
.filtre-item-icon{
    display: flex;
    color: #0065FC;
    background-color: #DEEBFF;
    border: #DEEBFF 2px solid;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    padding: 15px;
}
.filtre-item-text{
    position: relative;
    font-weight: 700;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}

/* INFORMATIONS */
.informations{
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.informations i{
    color: #0065FC;
    padding: 5px;
    margin-right: 10px;
    border: #F2F2F2 2px solid;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    text-align: center;
}

/* HEBERGEMENT */
.hebergement{
    flex: 2;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 0 30px 0 0;
}
.hebergement-title{
    margin: 30px 0 10px 30px;
    font-weight: 800;
}
.hebergement-plus{
    margin: 5px 0 30px 30px;
    font-weight: 700;
}
.hebergement-plus a,
.hebergement-plus a:hover{
    color: black;
    text-decoration: none;
}
.hebergement-content{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}
.hebergement-item{
    width: 27%;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
.hebergement-item img{
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergement-item h3{
    font-size: 15px;
    margin: 5px 0;
}
.hebergement-item p{
    margin: 5px 0;
}
.hebergement-item-content{
    margin: 10px 13px;
}
.hebergement-item-content i,
.popular-item-content i{
    color: #F2F2F2;
}
.hebergement-item-content i.active,
.popular-item-content i.active{
    color: #0065FC;
}

/* POPULAR */
.popular{
    flex: 1;
    background-color: #F2F2F2;
}
.popular-content{
    flex-direction: column;
}
.popular-title h2{
    padding: 30px 30px 0 30px;
    margin: 0;
    font-weight: 800;
}

.popular-title i{
    padding: 30px 30px 30px 0;
    font-size: 25px;
}
.popular-item{
    display: flex;
    margin: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 25px;
}
.popular-item img{
    height: 126px;
    width: 135px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.popular-item-content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.popular-item-content h3{
    margin: 0;
}
.popular-item-content p{
    margin: 5px 0;
}
.popular-item-content-note{
    margin-top: auto;
}

/* FOOTER */
footer{
    background-color: #F2F2F2;
    padding: 20px;
    margin-top: 30px;
}
footer a{
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}
footer a:hover{ /* PAS DEMANDE DANS LE CDC, A DEMANDER SI GENANT*/
    color: #0065FC;
    text-decoration: underline;
}


/** Version Mobile  */
@media only screen and (max-width: 767px) {
    /* CLASS UTILES */
    .content{
        margin: 0;
    }

    /* BARRE DE NAVIGATION */
    .register{
        order: 0;
        align-content: end;
    }
    .logo{
        margin: 20px 0 0 20px;
    }
    .navigation-item{
        flex: 1;
        color: black;
        margin: 0;
        text-align: center;
        border-bottom: #F2F2F2 3px solid;
        padding: 10px 0 10px 0;
    }
    .navigation-item.active, .navigation-item:hover{
        border-bottom: #0065FC 3px solid;
    }
    .navigation{
        width: 100%;
    }

    /* SEARCH */
    .search{
        margin: 0 15px;
    }
    .search-title{
        margin-top: 25px;
    }
    .search-subtitle{
        margin: 5px 0;
    }
    .search-form{
        margin-top: 35px;
    }
    .search-button{
        border-radius: 10px;
    }

    /* FOOTER */
    .a-propos, .nos-hebergements, .assistance{
        width: 100%;
    }
}

/** Version Tablette  */
@media only screen and (max-width: 992px) {
    /* HEBERGEMENT */
    .hebergement{
        flex: 0 0 100%;
        background-color: white;
        order: 1;
    }
    .hebergement-item{
        width: 100%;
    }
    .hebergement-item img{
        width: 100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    /* POPULAR */
    .popular{
        flex: 0 0 100%;
        order: 0;
    }
}

/** Version ordinateur  */
@media only screen and (min-width: 993px) {
    /* CLASS UTILES */
    .display-lg-none{
        display: none;
    }
    .display-lg-block{
        display: block;
    }

    /* BARRE DE NAVIGATION */
    .navigation-item.active, .navigation-item:hover{
        padding: 35px 15px 0 15px;
        border-top: #0065FC 3px solid;
    }

    /* POPULAR */
    .popular{
        border-radius: 20px;
    }

    /* FOOTER */
    .a-propos, .nos-hebergements, .assistance{
        width: 25%;
    }
}